<div class="header navbar">
		<div class="logo">
			<img src="../../../assets/logo.png"><span>CertiGen</span>
		</div>
		<div class="logo">
			<img src="../../../assets/logo.png"><span>CertiGen</span>
		</div>
	</div>
	<div class="mid-section">
		<div class="matter">
			<span class="welcome">Create your certificate in three easy steps :
			<div class="steps">	
				<div class="step">
					<div class="circle">1</div>
					<div class="content">Choose Design</div>
				</div>
				<div class="step">
					<div class="circle">2</div>
					<div class="content">Personalise Certificate</div>
				</div>
				<div class="step">
					<div class="circle">3</div>
					<div class="content">Download Or Send Certificate</div>
				</div>
			</div>
			<div class="getstarted"><div class="button" [routerLink]="['/design']" >Get Started</div></div>
			</span>
			<div class="bounc"><img class="ball" src="../../../assets/collage.jpg"></div>
		</div>
		<div class="resize-section">
			<div class="resize-center">
			<span class="welcomenew">Create your certificate in three easy steps :
			<div class="steps">	
				<div class="step">
					<div class="circle">1</div>
					<div class="content">Choose Design</div>
				</div>
				<div class="step">
					<div class="circle">2</div>
					<div class="content">Personalise Certificate</div>
				</div>
				<div class="step">
					<div class="circle">3</div>
					<div class="content">Download Or Send Certificate</div>
				</div>
			</div>
			</span>
			</div>
		</div>
		<div class="resize-btn">
		<div class="button" [routerLink]="['/design']" >Get Started</div>
		</div>
	</div>
	<div class="footer">
		Made with sanitizer and mask by &copy; Ankit Satyawali
	</div>